<!DOCTYPE html>
<html>
<head>
  <meta name="p:domain_verify" content="f6b8ce2ac6069939c8886874ed4ad27d"/>
  <meta name="msvalidate.01" content="53470898C21F5DC8E8C7C83E9300D4BA" />
  <%= favicon_link_tag 'favicon.ico' %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <script src="http://az756089.vo.msecnd.net/offwhitecdn/animatescroll.min.js"></script>

  <%= csrf_meta_tags %>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<%= yield %>
</body>
</html>
